.banner-title {
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 44px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-text {
  color: var(--color-light-grey);
  font-size: 24px !important;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards 0.3s;
}

.download-button {
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
  animation: fadeInUp 0.8s ease-in-out forwards 0.6s;
}

.circle-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
  .circle-container {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .banner-img {
    margin-top: 4rem;
  }

  #nuestraApp {
    margin-top: 14rem;
  }

  .title-decoration {
    width: 20%!important;
  }
}

.circle-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ajusta el círculo al tamaño del contenedor */
  height: 100%;
  z-index: 1; /* Asegura que el círculo esté detrás de la niña */
}

.girl-image {
  position: absolute;
  left: 50%;
  bottom: 0rem;
  transform: translateX(-50%);
  z-index: 2; /* La niña debe estar sobre el círculo */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.girl-image:hover {
  transform: translateX(-50%) scale(1.2);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.sign-image {
  position: absolute;
  width: 120px;
  right: 55%;
  bottom: 82%;
  transform: translateX(-50%);
  z-index: 3;
  transition: transform 0.3s ease, filter 0.3s ease; /* Transición suave */
}

.sign-image:hover {
  transform: translateX(-50%) scale(1.1); /* Aumenta un poco la imagen */
}

.trophy-image {
  position: absolute;
  width: 140px;
  left: 70%;
  bottom: -10%;
  transform: translateX(-50%);
  z-index: 3;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.trophy-image:hover {
  transform: translateX(-50%) scale(1.1); /* Aumenta un poco la imagen */
}

.title-decoration {
  display: block;
  margin: auto;
  width: 10%;
  height: 15px;
  background: linear-gradient(
    90deg,
    rgba(178, 235, 242, 1) 0%,
    rgba(209, 196, 233, 1) 100%
  );
  border-radius: 15px;
}

.title-item{
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--color-light-blue);
  border-radius: 50%;
}

.animation-container {
  height: 300px;
}

.background-container {
  position: relative;
}

.background-container::before {
  content: '';
  position: absolute;
  top: -32rem;
  left: 0;
  width: 100%;
  height: 160vh;
  background-image: url('../../../assets/background-decoration.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
