.backgroud-decoration{
    background-image: url('/assets/decoration.png');
    background-size: contain;
    background-repeat: no-repeat; 
    height: 500px;
    padding: 0 1rem;
}

.text-content {
  z-index: 2;
  position: relative;
}

.banner-title {
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 44px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-text {
  color: var(--color-light-grey);
  font-size: 24px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards 0.3s;
}

.download-button {
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
  animation: fadeInUp 0.8s ease-in-out forwards 0.6s;
  transition: transform 0.3s ease-in-out;
}

.download-button:hover {
  transform: scale(1.1);
}

@media(max-width:570px){
  .backgroud-decoration{
    background-size: cover;
  }
}
