.banner-title{
    text-transform: uppercase;
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 46px;
}

.banner-text{
    color: var(--color-light-grey);
    font-size: 24px;
}

.backgroud-decoration{
    position: relative;
    background-image: url('/assets/decoration.png');
    background-size: contain; /* Ajusta la imagen para cubrir todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 500px; /* Ajusta la altura del div según sea necesario */
    z-index: 2;
}
