footer {
  margin-top: 10rem;
  padding: 5rem 8rem 0 8rem;
  position: relative;
  color: white;
  overflow: visible;
}

@media (max-width: 1054px) {
  footer {
    padding: 15rem 1rem 0 1rem;
  }
}

.violeta {
  color: #7584f2;
}

.download-button {
  cursor: pointer;
}

.redes a {
  display: flex;
  justify-content: center;
  border-right: 2px solid #6c6c72;
}

.redes a img {
  margin: 0 1.5rem;
}

.redes a:first-child img {
  margin-left: 0rem;
}

.redes a:last-child {
  border: none;
}

.ocean {
    height: 150px; /* Ajusta la altura general de las olas */
    width: 100%;
    position: absolute;
    top: -60px;
    left: 0;
    background: #212529;
  }
  
  .wave {
    background: url('../../../assets/wave.svg') repeat-x;
    position: absolute;
    top: -150px; /* Altura de la primera ola */
    width: 6400px;
    height: 150px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }
  
  .wave:nth-of-type(2) {
    top: -120px; /* Altura de la segunda ola */
    opacity: 0.7; /* Transparencia para diferenciarlas */
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
